

<h3 class="no-top-margin">Course Schedule</h3>
<p>
  The tentative course schedule is below.
</p>

<h3>Textbook</h3>
<p>
  The required (free) textbook is <a href="http://gameprogrammingpatterns.com/contents.html">Game Programming Patterns</a>.
  I recommend <i>Real-time rendering</i> by Tomas Akenine-Moller and Eric Hanes.
</p>

<p>
  Other recommended texts:
  <ul>
    <li>Any good modern graphics OpenGL reference, (e.g. <i>Foundations of 3D Computer Graphics</i> by S. Gortler)</li>
    <li><i>Making Comics</i> and <i>Understanding Comics</i> by Scott McCloud</li>
  </ul>
</p>

<p>
  There are also numerous helpful OpenGL tutorial sites, for example: <a href="http://learnopengl.com/">http://learnopengl.com/</a>
</p>
